PORT=8080
LOG_LEVEL=info
LIVEKIT_URL=wss://archit-7q72ombq.livekit.cloud
LIVEKIT_API_KEY=APImG2GaJC3meWz
LIVEKIT_API_SECRET=JKGibML3Zg2Q1zq9HU7eHAnAGiCSTbAmFQ596rftuww
LIVEKIT_ROOM=voice-ai-room
OPENAI_API_KEY=sk-abcdef1234567890abcdef1234567890abcdef12
DEEPGRAM_API_KEY=b7245c1342f440a351d9ee4b9a108ef52bba2d57
ELEVENLABS_API_KEY=sk_2cb41605c491329d984cec58830ebb96bb8e7b72bc55aa9d
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM
